[Unit]
Description=Strava Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/app
ExecStart=/home/pi/app/.venv/bin/fastapi run /home/pi/app/src/app/main.py --host 127.0.0.1 --port 8000
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target