<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuralTag</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css", width="30%">
</head>
<body>
    <div class="container">
        <p>Welcome to</p>
        <img src="/static/images/logo_cropped.png" alt="NeuralTag Logo" width="30%">
        <p>Sign up by clicking below</p>
        <p><a href="/authorization"><img src="/static/images/btn_strava_connect_with_orange.png" alt="Connect with Strava" width="10%" /></a></p>
    </div>
</body>
</html>
