<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Activity Naming App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the AI Activity Naming App</h1>
        <p>This app uses AI to automatically name your Strava activities.</p>
        <p>Sign up below</p>
        <p><a href="/authorization"><img src="/static/images/btn_strava_connect_with_orange.png" alt="Connect with Strava" width="10%" /></a></p>
    </div>
</body>
</html>
