[BEGIN CONTEXT]
{{context_data}}
[END CONTEXT]

Given the following input:
{{input}}

[PROMPT]
Provide {{number_of_options}} options for a name for the input activity that is consistent with the data. Use both the percentile columns
as well as the other columns to assess the activity's characteristic. The names should reflect the nature of the activity while incorporating emojis to enhance appeal.

Important:
Never use the day of the week in the name.
Do not using the words morning, afternoon and evening and night in the name.
Do not use the word average in the name

Consider the location of the activity if the data includes it. Especially if the location is very different from the rest of the data. If linked to a different country
you could use the country's flag emoji to enhance the name and use the name of the city. 

Be creative and use names that are fun and engaging.
The names must have 1 or more emojis that enhance the meaning of the name.

For each name, explain in detail why it was chosen. The description should also highlight how the level of confidence was assessed based on the provided data.
Also provide a probability to describe confidence in the name. Order the final names from highest to lowest probability.

