[BEGIN CONTEXT]
{{context_data}}
[END CONTEXT]

Given the following input:
{{input}}

[PROMPT]
Provide {{number_of_options}} options for a name for the input activity that is consistent with the data.

Assess the input activity in this order:
1. Location
Assess the location of the activity only if the data includes it. If the location is very different from the rest of the data then use it in the name.
If linked to a different country you could use the country's flag emoji to enhance the name and use the name of the city. 

2. Activity speed, heart rate and altitude chart (attached as an image)
Analyse the attached image if applicable. Pay attention to anything interesting like:
* consistent effort
* climbing a large hill
* sections that are repeated that may indicate intervals or hill repeats. These will be evident in the speed, cadence and altitude charts

3. Consider past naming patterns
If there is a pattern of when an activity occurs then leverage that to apply a similar name. Example if Wendesday is usually Leg Day then name
the activity Leg Day.

4. Distance or time
Consider if the activity is very long or far compared to the rest of the data. If it is, use this in the name.

5. Consider the effort of the activity
Analyse the effort of the activity based on the provided data. If the effort is significantly higher than average, reflect this in the name.
If the effort is much lower than average, consider using a name that reflects a more relaxed pace.

The audience of these names is the athlete's friends and strava followers. The name should be engaging, interesting and competitive.
Be creative and use names that are fun and engaging.
The names must have 1 or more emojis that enhance the meaning of the name.

Important:
Never use the day of the week in the name.
Do not using the words morning, afternoon and evening and night in the name.
Do not use the words: average, standard, normal, typical, usual, common, regular
Limit the length of the name to maximum 5 words

For each name, explain in detail why it was chosen. The description should also highlight how the level of confidence was assessed based on the provided data.
Also provide a probability to describe confidence in the name. Order the final names from highest to lowest probability.